<div>
    <h4>Are you sure you want to delete this decor?</h4>
    <button class="btn card-link" id="decor-id" value="{{decors.id}}">Yes</button>
    <br>
    <a href="/dashboard"><button class="btn card-link">No</button></a>
</div>
<script src="/js/deleteDecor.js"></script>