:root {
  --jetblack: #000000;
  --wornblack: #343333;
  --unicorn: #f8f6fa;
  --sonic: #0d338a;
  --sonic2: #3b61b9;
  --party: rgb(44, 48, 76);
  --flash: #fc6094;
  --cake: #e99dc1;
}

body {
  font-family: 'Cutive Mono', monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-image: url(https://wallpapercave.com/wp/wp9827535.jpg);
  background-size: 150%;
  background-color: var(--party);
  color: var(--unicorn);
}
body p {
  color: var(--unicorn);
  font-size: x-large;
}
a:hover {
  text-decoration: none;
}

.navbar {
  background-color: var(--jetblack);
}

header h1 {
  font-size: 72px;
  color: var(--flash);
  font-family: 'Archivo Black', sans-serif;
  padding: 1em;
}

.nav-link {
  color: var(--unicorn);
  font-family: 'Archivo Black', sans-serif;
  font-size: 20px;
}

main {
  margin: 2em;
  padding: 2em;
}

.jumbotron h1 {
  font-family: 'Gochi Hand', cursive;
}

.login {
  background-color: var(--cake);
  margin-right: 2em;
}

.logout {
  background-color: var(--sonic2);
  color: var(--unicorn);
  margin-right: 2em;
}

h2 {
  text-align: center;
  font-family: 'Gochi Hand', cursive;
  color: var(--unicorn);
  font-size: 40px;
}
p {
  text-decoration: none;
  color: var(--jetblack);
}

.home-card {
  background-color: var(--wornblack);
  border-radius: 8px;
}

.decor-card {
  background-color: var(--jetblack);
  border-radius: 8px;
}

.card-title {
  font-family: 'Archivo Black', sans-serif;
  color: var(--unicorn);
  font-size: 25px;
}
.card-subtitle {
  line-height: 1.5;
  color: var(--unicorn);
  font-size: x-large;
}

.card-text {
  color: var(--cake);
  font-weight: bold;
}

.decor-card .card-text {
  color: var(--cake);
  font-weight: bold;
}

.card-link {
  color: var(--unicorn);
  background-color: var(--sonic2);
  margin: 5px;
  font-weight: bold;
}

.targetHome {
  background-color: var(--wornblack);
  border-radius: 8px;
}

.high-info {
  color: var(--flash);
}

.user-box {
  width: 12em;
}

.nav-tabs {
  border: none;
}

#homes-tab {
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  background-color: var(--wornblack);
  color: var(--unicorn);
  font-size: 20px;
  border: none;
  width: 10em;
  padding: 7px;
}

#decor-tab {
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  background-color: var(--jetblack);
  color: var(--unicorn);
  font-size: 20px;
  border: none;
  width: 10em;
  padding: 7px;
}

.dropdown {
  margin-top: 1em;
}

#addhome-link {
  background-color: var(--jetblack);
  color: var(--flash);
}

#moredecor-link {
  background-color:var(--pitstop);
  color: var(--unicorn);
}

#homes {
  margin-bottom: 2em;
}


.page-title {
  font-family: 'Gochi Hand', cursive;
  font-size: 40px;
}

.login:hover {
  background-color: var(--flash);
  color: var(--jetblack);
}

.logout:hover {
  background-color: var(--sonic);
}

.card-title:hover {
  color: var(--flash);
}

.nav-link:hover {
  color: var(--flash);
}

.card-link:hover {
  background-color: var(--flash);
  color: var(--jetblack);
}

#homes-tab:hover {
  text-decoration: none;
  background-color: var(--cake);
}

#decor-tab:hover {
  text-decoration: none;
  background-color: var(--flash);
}

#addhome-link:hover {
  background-color: var(--wornblack);
}

#moredecor-link:hover {
  background-color: #432c64;
}

@media screen and (max-width: 1000px) {
  body {
    background-image: url(https://wallpapercave.com/wp/wp9827535.jpg);
    background-size: 500%;
    background-color: var(--party);
    color: var(--unicorn);
  }
  .navbar {
    background-color: var(--sonic2);
  }
  header h1 {
    font-size: 48px;
    padding: 5px;
  }
  .navbar-toggler {
    margin: 2em;
  }
  .nav-link {
    color: var(--unicorn);
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    margin-right: 2em;
    text-align: right;
  }
  .login {
    float: right;
    margin-right: 2em;
  }
  
  .logout {
    float: right;
    margin-right: 2em;
    background-color: var(--sonic);
  }

  .logout:hover {
    color: var(--cake);
  }
  #homes-tab {
    text-align: center;
    background-color: var(--wornblack);
    color: var(--unicorn);
    border: none;
    padding: 3px;
  }
  
  #decor-tab {
    text-align: center;
    background-color: var(--jetblack);
    color: var(--unicorn);
    border: none;
    padding: 3px;
  }
}