/* :root {
  --latenight: #2b3650;
  --coal: #302c2c;
  --darkfire: #762a24;
  --fire: #a84124;
  --gardendusk: #536135;
  --garden: #3a7149;
  --midnight: #102659;
  --beach: #c39668;
  --lowsun: rgb(197, 144, 19);
  --light: #f2e6d3;
  --dark: #182c23;
} */

:root {
  --jetblack: #000000;
  --asphault: #313232;
  --ultraman: #cd2323;
  --mikey: rgb(255, 140, 0);
  --unicorn: #f8f6fa;
  --lisafrank: #804594;
  --alonzo: #159696;
  --night: #0d338a;
  --woods: rgb(65, 39, 19) 8;
  --party: rgb(215, 192, 15);
  --partymore: rgb(252, 225, 18);
  --royal: #581373;
  --cake: #e99dc1;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--party);
  color: var(--asphault);
}
body p {
  color: var(--asphault);
}

.navbar {
  background-color: var(--alonzo);
}

header h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 60px;
  margin: 0.5em;
  color: var(--partymore);
  text-shadow: 6px 4px var(--royal);
}

.nav-link {
  color: var(--unicorn);
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
}
/* .navbar h1 {

} */

main {
  margin: 3em;
  padding: 3em;
}

.jumbotron h1 {
  font-family: 'Gochi Hand', cursive;
}

.login {
  background-color: var(--cake);
  margin-right: 2em;
}

.logout {
  background-color: var(--lisafrank);
  color: var(--unicorn);
  margin-right: 2em;
}

h2 {
  text-align: center;
  font-family: 'Gochi Hand', cursive;
  color: var(--asphault);
  font-size: 40px;
}
p {
  text-decoration: none;
  color: var(--jetblack);
}

.targetHome {
  background-color: var(--mikey);
}

.user-box {
  width: 12em;
}

.each-post {
  border-bottom: var(--asphault) solid 2px;
  margin-bottom: 1em;
}

.dropdown {
  margin-top: 1em;
}

#addhome-link {
  background-color: var(--ultraman);
  color: var(--unicorn);
}

#moredecor-link {
  background-color:var(--asphault);
  color: var(--unicorn);
}

#homes-tab {
  font-family: 'Gochi Hand', cursive;
  background-color: var(--lisafrank);
  color: var(--unicorn);
  font-size: 30px;
  border: none;
  width: 10.5em;
  padding: .5em;
}

#decor-tab {
  font-family: 'Gochi Hand', cursive;
  background-color: var(--alonzo);
  color: var(--unicorn);
  font-size: 30px;
  border: none;
  width: 10.5em;
  padding: .5em;
}



.nav-tabs {
  border: none;
}

#homes {
  margin-bottom: 2em;
}

.home-card {
  background-color: var(--mikey);
  border-radius: 8px;
}

.decor-card {
  background-color: var(--lisafrank);
  border-radius: 8px;
}

.card-title {
  font-family: 'Gochi Hand', cursive;
  color: var(--unicorn);
  font-size: 30px;
}
.card-subtitle {
  line-height: 2;
}

.card-text {
  color: var(--asphault);
  font-weight: bold;
}

.decor-card .card-text {
  color: var(--cake);
  font-weight: bold;
}

.card-link {
  color: var(--jetblack);
  background-color: var(--partymore);
  margin: 5px;
  font-weight: bold;
}

.page-title {
  font-family: 'Gochi Hand', cursive;
  font-size: 40px;
}



.update {
  background-color: #deac08;
}

.delete {
  background-color: #c64a41;
}

.login:hover {
  background-color: var(--lisafrank);
}

.logout:hover {
  background-color: var(--night);
}

.card-link:hover {
  background-color: var(--ultraman);
  color: var(--unicorn);
}

#homes-tab:hover {
  text-decoration: none;
  background-color: #6d3ea4;
}

#decor-tab:hover {
  text-decoration: none;
  background-color: #2a9ea4;
}

#addhome-link:hover {
  background-color: var(--royal);
}

#moredecor-link:hover {
  background-color: #432c64;
}

.new-post button:hover {
  background-color: #53a268;
}

.update:hover {
  background-color: #d2a308;
}

.delete:hover {
  background-color: #762a24;
}
